body {
  background-image: url(./backdrop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-wrap: nowrap;
}
.irock-img {
 cursor: pointer;
 text-align: center;
}
.img {
  width: 300px;
  cursor: pointer;
}

